<section class="u-clearfix u-image u-section-1" id="sec-cb3c" data-image-width="1620" data-image-height="1080">
    <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-align-left u-black u-container-align-center-xs u-container-align-left-lg u-container-align-left-md u-container-align-left-sm u-container-style u-expanded-width-xs u-group u-opacity u-opacity-85 u-radius-20 u-shape-round u-group-1" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500">
            <div class="u-container-layout u-container-layout-1">
                <h1 class="u-align-center-xs u-align-left-lg u-align-left-md u-align-left-sm u-text u-text-palette-4-base u-text-1" data-animation-name="customAnimationIn" data-animation-duration="1000" data-animation-delay="500"> Путешествия - это уникальный жизненный опыт</h1>
                <p class="u-text u-text-default u-text-2"> Независимо от того, хотите ли вы слетать к пустыням или райским островам, мы предлагаем уникальные путешествия на самолёте.</p>
                <a href="/Admin/AddRace" class="u-active-palette-4-base u-align-center-xs u-align-left-lg u-align-left-md u-align-left-sm u-border-2 u-border-active-palette-4-base u-border-hover-palette-4-base u-border-palette-4-base u-btn u-btn-round u-button-style u-hover-palette-4-base u-none u-radius-50 u-text-active-white u-text-hover-white u-text-palette-4-base u-btn-1">Добавить рейсы</a>
                <a href="/Admin/AddTicket" class="u-active-palette-4-base u-align-center-xs u-align-left-lg u-align-left-md u-align-left-sm u-border-2 u-border-active-palette-4-base u-border-hover-palette-4-base u-border-palette-4-base u-btn u-btn-round u-button-style u-hover-palette-4-base u-none u-radius-50 u-text-active-white u-text-hover-white u-text-palette-4-base u-btn-1">Добавить билет</a>

            </div>

        </div>
    </div>
</section>
<section class="u-align-left u-clearfix u-container-align-center u-palette-4-base u-typography-Normal--Introduction u-section-2" src="" id="carousel_99b8">
    <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-expanded-width u-list u-list-1">
            <div class="u-repeater u-repeater-1">
                <div class="u-align-center u-border-1 u-border-grey-15 u-container-align-center u-container-style u-list-item u-radius-20 u-repeater-item u-shape-round u-white u-list-item-1" data-animation-name="customAnimationIn" data-animation-duration="1500">
                    <div class="u-container-layout u-similar-container u-valign-top u-container-layout-1">
                        <span class="u-align-center u-icon u-icon-circle u-palette-4-dark-1 u-icon-1">
                            <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 510 510" style=""><use xlink:href="#svg-7711"></use></svg>
                            <svg class="u-svg-content" viewBox="0 0 510 510" id="svg-7711">
                                <g>
                                    <path d="m451.483 120h-1.483v-60h-90v60h-27.968l-14.062-63.274c-3.494-15.736-17.195-26.726-33.314-26.726h-59.312c-16.119 0-29.819 10.99-33.314 26.725l-14.062 63.275h-27.968v-60h-90v60h-1.483c-32.267 0-58.517 26.25-58.517 58.517v242.967c0 32.266 26.25 58.516 58.517 58.516h392.967c32.266 0 58.516-26.25 58.516-58.517v-242.966c0-32.267-26.25-58.517-58.517-58.517zm-61.483 30v300h-270v-300zm0-60h30v30h-30zm-168.686-26.769c.423-1.902 2.08-3.231 4.029-3.231h59.312c1.949 0 3.606 1.329 4.029 3.232l12.617 56.768h-92.602zm-131.314 26.769h30v30h-30zm-60 331.483v-242.966c0-15.724 12.793-28.517 28.517-28.517h31.483v300h-31.483c-15.724 0-28.517-12.793-28.517-28.517zm450 0c0 15.724-12.793 28.517-28.517 28.517h-31.483v-300h31.483c15.724 0 28.517 12.793 28.517 28.517z"></path><path d="m358.276 268.252-22.519-87.137-116.183 30.023 22.517 87.137zm-44.057-50.586 7.506 29.047-58.093 15.012-7.506-29.047z"></path><path d="m200 420c27.57 0 50-22.43 50-50s-22.43-50-50-50-50 22.43-50 50 22.43 50 50 50zm0-70c11.028 0 20 8.972 20 20s-8.972 20-20 20-20-8.972-20-20 8.972-20 20-20z"></path>
                                </g>
                            </svg>
                        </span>
                        <h3 class="u-align-center u-custom-font u-font-titillium-Web u-text u-text-1" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="750">Путешествия</h3>
                        <p class="u-align-center u-text u-text-grey-50 u-text-2" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="750">Давай отправимся в увлекательное путешествие! Откроем для себя новые горизонты, познакомимся с разными культурами, насладимся красотой природы и историей мест, которые мы посетим. </p>
                    </div>
                </div>
                <div class="u-align-center u-border-1 u-border-grey-15 u-container-align-center u-container-style u-list-item u-radius-20 u-repeater-item u-shape-round u-video-cover u-white u-list-item-2" data-animation-name="customAnimationIn" data-animation-duration="1500">
                    <div class="u-container-layout u-similar-container u-valign-top u-container-layout-2">
                        <span class="u-align-center u-icon u-icon-circle u-palette-4-dark-1 u-icon-2">
                            <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 507.975 507.975" style=""><use xlink:href="#svg-84fe"></use></svg>
                            <svg class="u-svg-content" viewBox="0 0 507.975 507.975" id="svg-84fe">
                                <g>
                                    <path d="m449.95 335.376 58.025-58.025-63.639-63.639-22.275 22.275-13.945-49.697 32.621-32.621c29.754-29.753 47.194-64.979 61.609-98.615 5.594-13.053 2.72-27.976-7.319-38.014l-3.537-3.537c-10.041-10.041-24.961-12.913-38.016-7.321l-3.454 1.481c-38.297 16.412-70.043 37.062-94.358 61.377l-32.402 32.402-49.719-13.921 22.302-22.302-63.64-63.64-58.099 58.1-116.009-32.482-55.002 55 209.489 129.924-44.079 44.08c-9.673 9.673-18.482 20.037-26.702 31.497l-110.708 6.918-31.093 31.091 98.839 65.892 15.581 15.58 65.892 98.839 31.092-31.089 6.564-105.028c12.284-8.216 24.203-17.664 35.387-28.848l44.082-44.083 129.988 209.424 55.062-55.063zm-5.614-79.238 21.213 21.213-24.896 24.896-9.296-33.13zm-212.133-212.133 21.214 21.214-13.021 13.021-33.146-9.281zm-181.136 32.645 15.834-15.834 232.019 64.966-64.551 64.552zm71.204 242.326c-5.521 10.111-10.843 21.02-16.073 32.907l-2.661 6.793-52.84-35.227zm60.299 136.346-33.375-50.061 6.875-2.69.575-.239c9.956-4.381 20.06-9.038 30.124-14.215zm49.572-135.482c-25.812 25.811-57.195 41.651-87.293 54.907l-14.688 5.747-2.126-2.127 5.747-14.687c16.531-37.51 33.788-64.124 55.933-86.268l187.159-187.16c21.604-21.604 50.19-40.113 84.964-55.016l3.453-1.48c1.714-.733 3.671-.357 4.984.958l3.538 3.538c1.316 1.316 1.692 3.272.959 4.984-15.293 35.684-30.541 64.512-55.248 89.219zm200.82 138.59-113.739-183.246 64.562-64.562 65.074 231.911z"></path>
                                </g>
                            </svg>
                        </span>
                        <h3 class="u-align-center u-custom-font u-font-titillium-Web u-text u-text-3" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="750">Полёты </h3>
                        <p class="u-align-center u-text u-text-grey-50 u-text-4" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="750">Мы рады предложить широкий выбор билетов, различные направления и удобные рейсы. Мы поможем подобрать оптимальное время вылета, учитывая ваши предпочтения и бюджет. </p>
                    </div>
                </div>
                <div class="u-align-center u-border-1 u-border-grey-15 u-container-align-center u-container-style u-list-item u-radius-20 u-repeater-item u-shape-round u-video-cover u-white u-list-item-3" data-animation-name="customAnimationIn" data-animation-duration="1500">
                    <div class="u-container-layout u-similar-container u-valign-top u-container-layout-3">
                        <span class="u-align-center u-icon u-icon-circle u-palette-4-dark-1 u-icon-3">
                            <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 512 512" style=""><use xlink:href="#svg-3844"></use></svg>
                            <svg class="u-svg-content" viewBox="0 0 512 512" id="svg-3844">
                                <g>
                                    <path d="m175.01 327.204c-17.911-9.185-40.329-6.176-55.206 8.688-8.969 8.962-13.908 20.881-13.908 33.563s4.939 24.601 13.904 33.558l44.594 44.594c2.928 2.928 6.767 4.393 10.606 4.393s7.678-1.465 10.606-4.394l44.59-44.589c8.969-8.962 13.908-20.881 13.908-33.562 0-12.683-4.939-24.602-13.918-33.572-14.867-14.829-37.277-17.836-55.176-8.679zm33.977 54.596-33.987 33.987-33.991-33.992c-3.297-3.294-5.113-7.677-5.113-12.34 0-4.664 1.816-9.047 5.112-12.341 3.407-3.403 7.886-5.12 12.369-5.12 4.15 0 8.305 1.471 11.616 4.437 5.693 5.096 14.308 5.102 20.003.009 6.896-6.163 17.441-5.863 23.995.675 3.297 3.294 5.113 7.677 5.113 12.341 0 4.662-1.816 9.045-5.117 12.344z"></path><path d="m467 142h-15v-112h5c8.284 0 15-6.716 15-15s-6.716-15-15-15h-20-80-20c-8.284 0-15 6.716-15 15s6.716 15 15 15h5v112h-15c-24.813 0-45 20.187-45 45v75h-37v-25c0-19.299-15.701-35-35-35h-70c-19.299 0-35 15.701-35 35v25h-60c-24.813 0-45 20.187-45 45v160c0 24.813 20.187 45 45 45h260c23.123 0 42.219-17.532 44.716-40h92.284v25c0 8.284 6.716 15 15 15s15-6.716 15-15v-25.284c22.468-2.496 40-21.593 40-44.716v-240c0-24.813-20.187-45-45-45zm-95-112h50v112h-50zm-237 207c0-2.757 2.243-5 5-5h70c2.757 0 5 2.243 5 5v25h-80zm185 230c0 8.271-6.729 15-15 15h-260c-8.271 0-15-6.729-15-15v-160c0-8.271 6.729-15 15-15h260c8.271 0 15 6.729 15 15zm162-40c0 8.271-6.729 15-15 15h-117v-135c0-22.433-16.5-41.08-38-44.453v-75.547c0-8.271 6.729-15 15-15h140c8.271 0 15 6.729 15 15z"></path>
                                </g>
                            </svg>
                        </span>
                        <h3 class="u-align-center u-custom-font u-font-titillium-Web u-text u-text-5" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="750">О нас</h3>
                        <p class="u-align-center u-text u-text-grey-50 u-text-6" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="750"> На сайте можно ознакомиться с актуальными расписаниями рейсов, узнать информацию об услугах на борту и ознакомиться с правилами провоза багажа.</p>
                    </div>
                </div>
                <div class="u-align-center u-border-1 u-border-grey-15 u-container-align-center u-container-style u-list-item u-radius-20 u-repeater-item u-shape-round u-video-cover u-white u-list-item-4" data-animation-name="customAnimationIn" data-animation-duration="1500">
                    <div class="u-container-layout u-similar-container u-valign-top u-container-layout-4">
                        <span class="u-align-center u-icon u-icon-circle u-palette-4-dark-1 u-icon-4">
                            <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 512 512" style=""><use xlink:href="#svg-1a7b"></use></svg>
                            <svg class="u-svg-content" viewBox="0 0 512 512" id="svg-1a7b">
                                <g>
                                    <path d="m319.426 97.213c7.846 0 15.363-6.899 15-15-.364-8.127-6.591-15-15-15-7.846 0-15.363 6.899-15 15 .364 8.127 6.59 15 15 15z"></path><g>
                                        <path d="m439.238 174.142h-88.468c6.095-7.987 12.913-17.335 19.399-27.116 19.277-29.065 28.647-51.188 28.647-67.634.001-43.777-35.614-79.392-79.39-79.392s-79.392 35.615-79.392 79.392c0 18.138 11.418 43.264 34.908 76.814 16.357 23.363 32.478 41.987 33.155 42.769 2.849 3.282 6.981 5.167 11.328 5.167h119.813c23.579 0 42.762 19.183 42.762 42.761 0 23.579-19.183 42.762-42.762 42.762h-89.862c-18.143-32.994-53.243-55.406-93.482-55.406-40.241 0-75.345 22.41-93.487 55.407-.037 0-.074 0-.112 0h-51.128c-61.297-.001-111.167 49.868-111.167 111.167 0 61.297 49.87 111.167 111.167 111.167h144.727c4.347 0 8.479-1.885 11.328-5.167.956-1.102 23.679-27.354 46.763-60.325 32.646-46.627 48.516-81.184 48.516-105.643 0-7.257-.732-14.346-2.12-21.2h78.857c40.121 0 72.762-32.641 72.762-72.762s-32.641-72.761-72.762-72.761zm-119.84-8.505c-23.316-29.202-49.364-68.577-49.364-86.246 0-27.235 22.157-49.392 49.392-49.392s49.392 22.157 49.392 49.392c-.001 15.088-19.517 48.91-49.42 86.246zm-208.231 316.363c-44.755 0-81.167-36.412-81.167-81.168s36.412-81.167 81.167-81.167h40.238c-1.389 6.854-2.117 13.941-2.117 21.2 0 24.452 15.641 58.74 47.815 104.823 9.603 13.754 19.141 26.31 27.031 36.313h-112.967zm144.75-8.335c-8.514-10.442-21.403-26.8-34.216-45.151-36.903-52.855-42.413-77.603-42.413-87.649 0-42.241 34.365-76.606 76.606-76.606s76.606 34.365 76.606 76.606c.001 29.281-43.145 91.868-76.583 132.8z"></path><path d="m255.895 329.878c-7.846 0-15.363 6.899-15 15 .364 8.127 6.591 15 15 15 7.846 0 15.363-6.899 15-15-.364-8.127-6.591-15-15-15z"></path>
                                    </g>
                                </g>
                            </svg>
                        </span>
                        <h3 class="u-align-center u-custom-font u-font-titillium-Web u-text u-text-7" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="750">Награды</h3>
                        <p class="u-align-center u-text u-text-grey-50 u-text-8" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="750">Помимо всего сказанного мы предоставляем награды для ярых фанатов путешествия в наших самолётах.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="u-align-center u-clearfix u-palette-4-base u-section-4" id="carousel_3537">
    <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <h2 class="u-custom-font u-font-montserrat u-text u-text-body-alt-color u-text-1" data-animation-name="customAnimationIn" data-animation-duration="1750" data-animation-delay="250">Места, вдохновляющие на приключения</h2>
        <p class="u-text u-text-2" data-animation-name="customAnimationIn" data-animation-duration="1250" data-animation-delay="250">Ниже представлен мини-обзор наших самых популярных мест для путешествия</p>
        <div class="u-expanded-width u-list u-list-1">
            <div class="u-repeater u-repeater-1">
                <div class="u-align-center u-border-9 u-border-no-bottom u-border-no-left u-border-no-right u-border-palette-4-light-2 u-container-style u-list-item u-radius-20 u-repeater-item u-shape-round u-white u-list-item-1" data-animation-name="customAnimationIn" data-animation-duration="1750" data-animation-direction="" data-animation-delay="250">
                    <div class="u-container-layout u-similar-container u-container-layout-1">
                        <div class="u-image u-image-circle u-image-1" alt="" data-image-width="407" data-image-height="407"></div>
                        <h4 class="u-custom-font u-font-montserrat u-text u-text-default u-text-3">Бора Бора </h4>
                        <p class="u-text u-text-4"> Самый красивый из островов Французской Полинезии, на который наведываются позагорать американские звезды и японские бизнесмены. Атмосфера спокойной роскоши, усиленная близостью Тихого океана и экзотической флорой</p>
                    </div>
                </div>
                <div class="u-align-center u-border-9 u-border-no-bottom u-border-no-left u-border-no-right u-border-palette-4-light-2 u-container-style u-list-item u-radius-20 u-repeater-item u-shape-round u-video-cover u-white u-list-item-2" data-animation-name="customAnimationIn" data-animation-duration="1750" data-animation-direction="" data-animation-delay="250">
                    <div class="u-container-layout u-similar-container u-container-layout-2">
                        <div class="u-image u-image-circle u-image-2" alt="" data-image-width="407" data-image-height="407"></div>
                        <h4 class="u-custom-font u-font-montserrat u-text u-text-default u-text-5"> Малайзия</h4>
                        <p class="u-text u-text-6">Malaysia, Truly Asia — рекламный слоган, с которым Малайзия буквально ворвалась на туристический рынок в 1999 году. С тех пор эту фразу знают и повторяют миллионы людей по всему миру. Кто-то не знает о Малайзии ничего кроме этой фразы и картинки с двумя башнями-близнецами </p>
                    </div>
                </div>
                <div class="u-align-center u-border-9 u-border-no-bottom u-border-no-left u-border-no-right u-border-palette-4-light-2 u-container-style u-list-item u-radius-20 u-repeater-item u-shape-round u-video-cover u-white u-list-item-3" data-animation-name="customAnimationIn" data-animation-duration="1750" data-animation-direction="" data-animation-delay="250">
                    <div class="u-container-layout u-similar-container u-container-layout-3">
                        <div class="u-image u-image-circle u-image-3" alt="" data-image-width="407" data-image-height="407"></div>
                        <h4 class="u-custom-font u-font-montserrat u-text u-text-default u-text-7">Новая Каледония </h4>
                        <p class="u-text u-text-8">Новая Каледония — это самый настоящий калейдоскоп различных природных ландшафтов и уникальных культур. Риф включен в список всемирного наследия ЮНЕСКО. Это место придется по душе всем путешественникам вне зависимости от их возраста, и каждый сможет найти себе занятие по душе</p>
                    </div>
                </div>
                <div class="u-align-center u-border-9 u-border-no-bottom u-border-no-left u-border-no-right u-border-palette-4-light-2 u-container-style u-list-item u-radius-20 u-repeater-item u-shape-round u-video-cover u-white u-list-item-4" data-animation-name="customAnimationIn" data-animation-duration="1750" data-animation-direction="" data-animation-delay="250">
                    <div class="u-container-layout u-similar-container u-container-layout-4">
                        <div class="u-image u-image-circle u-image-4" alt="" data-image-width="407" data-image-height="407"></div>
                        <h4 class="u-custom-font u-font-montserrat u-text u-text-default u-text-9">Индонезия</h4>
                        <p class="u-text u-text-10"> Индонезия удерживает четвертое место в мире по количеству населения и 14-е место по размеру занимаемой территории. Это самое большое и густонаселенное государство Юго-Восточной Азии.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="u-clearfix u-section-7" id="carousel_f618">
    <div class="u-expanded-width u-palette-4-base u-shape u-shape-rectangle u-shape-1"></div>
    <div class="u-list u-list-1">
        <div class="u-repeater u-repeater-1">
            <div class="u-container-style u-list-item u-repeater-item u-white u-list-item-1">
                <div class="u-container-layout u-similar-container u-valign-top u-container-layout-1">
                    <img class="u-expanded-width u-image u-image-default u-image-1" src="/img/trtr.jpg" data-image-width="556" data-image-height="834">
                    <h3 class="u-text u-text-1">Морские путешествия</h3>
                    <p class="u-text u-text-default u-text-2">Что может быть лучше, чем путешествовать по красивым и кристаллически чистым водам.</p>
                </div>
            </div>
            <div class="u-container-style u-list-item u-repeater-item u-white u-list-item-2">
                <div class="u-container-layout u-similar-container u-valign-top u-container-layout-2">
                    <img class="u-expanded-width u-image u-image-default u-image-2" src="/img/bnbn-min.jpg" data-image-width="717" data-image-height="1080">
                    <h3 class="u-text u-text-3">Кемпинг</h3>
                    <p class="u-text u-text-default u-text-4">Кемпинг - один из самых популярных видов отдыха для кргуа друзей или целой семьи.</p>
                </div>
            </div>
            <div class="u-container-style u-list-item u-repeater-item u-white u-list-item-3">
                <div class="u-container-layout u-similar-container u-valign-top u-container-layout-3">
                    <img class="u-expanded-width u-image u-image-default u-image-3" src="/img/bnbnbnn.jpg" data-image-width="721" data-image-height="1080">
                    <h3 class="u-text u-text-5">Пеший туризм</h3>
                    <p class="u-text u-text-default u-text-6">Это долгая и энергичная прогулка от которой вы получитие незабываемые ощущения.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="u-clearfix u-image u-section-5" id="carousel_d08c">
    <div class="u-clearfix u-sheet u-sheet-1">
        <div class="data-layout-selected u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
            <div class="u-layout">
                <div class="u-layout-row">
                    <div class="u-align-right u-container-style u-layout-cell u-left-cell u-size-30 u-layout-cell-1" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500">
                        <div class="u-container-layout u-valign-top u-container-layout-1">
                            <h2 class="u-text u-text-body-alt-color u-text-default u-text-1">The Air Smells Ocean</h2>
                        </div>
                    </div>
                    <div class="u-container-style u-layout-cell u-right-cell u-size-30 u-layout-cell-2" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500">
                        <div class="u-container-layout u-container-layout-2"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="u-align-left u-clearfix u-container-align-center u-image u-shading u-section-6" id="carousel_1a2e" data-animation-name="" data-animation-duration="0" data-animation-delay="0" data-animation-direction="">
    <div class="u-clearfix u-sheet u-sheet-1">
        <h2 class="u-align-center u-text u-text-1" data-animation-name="customAnimationIn" data-animation-duration="1250"> Мы - лучшая туристическая авиакомпания, способное удовлетворить все ваши потребности</h2>
        <h4 class="u-align-center u-custom-font u-font-montserrat u-text u-text-palette-4-base u-text-2" data-animation-name="customAnimationIn" data-animation-duration="1250" data-animation-delay="500"> Мы работаем непосредственно для наших клиентов и ставим интересы клиента на первое место.</h4>
        <div class="u-expanded-width u-list u-list-1">
            <div class="u-repeater u-repeater-1">
                <div class="u-align-center u-container-style u-list-item u-opacity u-opacity-70 u-palette-4-base u-radius-20 u-repeater-item u-shape-round u-list-item-1" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500">
                    <div class="u-container-layout u-similar-container u-valign-top u-container-layout-1">
                        <h3 class="u-text u-text-3" data-animation-name="counter" data-animation-event="scroll" data-animation-duration="3000">90%</h3>
                        <p class="u-text u-text-palette-1-light-3 u-text-4">Именно столько процентов клиентов оставили положиетльные отзывы о нас.</p>
                    </div>
                </div>
                <div class="u-align-center u-container-style u-list-item u-opacity u-opacity-70 u-palette-4-base u-radius-20 u-repeater-item u-shape-round u-list-item-2" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500">
                    <div class="u-container-layout u-similar-container u-valign-top-lg u-valign-top-md u-valign-top-xl u-container-layout-2">
                        <h3 class="u-text u-text-5" data-animation-name="counter" data-animation-event="scroll" data-animation-duration="3000">70%</h3>
                        <p class="u-text u-text-palette-1-light-3 u-text-6">Пытаются организовать путешествие сами и очень часто разочировываются в выборе.</p>
                    </div>
                </div>
                <div class="u-align-center u-container-style u-list-item u-opacity u-opacity-70 u-palette-4-base u-radius-20 u-repeater-item u-shape-round u-list-item-3" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500">
                    <div class="u-container-layout u-similar-container u-valign-top u-container-layout-3">
                        <h3 class="u-text u-text-7" data-animation-name="counter" data-animation-event="scroll" data-animation-duration="3000">20%</h3>
                        <p class="u-text u-text-palette-1-light-3 u-text-8">Ещё часть людей обращаются за помощью к туристическим агенствам, которые берут космические проценты.</p>
                    </div>
                </div>
                <div class="u-align-center u-container-style u-list-item u-opacity u-opacity-70 u-palette-4-base u-radius-20 u-repeater-item u-shape-round u-list-item-4" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500">
                    <div class="u-container-layout u-similar-container u-valign-top u-container-layout-4">
                        <h3 class="u-text u-text-9" data-animation-name="counter" data-animation-event="scroll" data-animation-duration="3000">10%</h3>
                        <p class="u-text u-text-palette-1-light-3 u-text-10">Оставшееся часть людей вовсе не путешествуют.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>





<section class="u-backlink u-clearfix u-grey-80">
</section>