<section  class="u-align-left u-clearfix u-container-align-center u-image u-shading u-section-buy" id="carousel_1a2e" data-animation-name="" data-animation-duration="0" data-animation-delay="0" data-animation-direction="">
    <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-expanded-width u-list u-list-1">
            <div class="u-repeater u-repeater-1">
                <div class="container">
                    <h2>Найти билет</h2>
                    <form method="POST">
                        <div class="form-group">
                            <label for="passport">Серия и номер паспорта:</label>
                            <input type="text" class="form-control" id="passport" name="passport">
                        </div>
                        <div class="form-row">
                            <div class="col">
                                <label for="last_name">Фамилия:</label>
                                <input type="text" class="form-control" id="last_name" name="last_name">
                            </div>
                            <div class="col">
                                <label for="first_name">Имя:</label>
                                <input type="text" class="form-control" id="first_name" name="first_name">
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary" style="margin-top: 5%; margin-bottom:5%">Найти</button>
                    </form>
                </div>

                <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
                <script src="https://cdn.jsdelivr.net/npm/@@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
                <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
            </div>
        </div>
    </div>
</section>
